<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/baseline_message_24" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />

    <application
        android:name=".FakerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taskandroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".CustomCardView.CustomCardView"
            android:exported="false" />
        <activity
            android:name=".ListView.UserActivity"
            android:exported="false" />
        <activity
            android:name=".Intent.Explicite.ExpliciteIntent"
            android:exported="false" />
        <activity
            android:name=".FirebaseAuthentication.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".FirebaseDatabase.InsertionActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Shareprefrence.HomeActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASbztT_buY0mEbe9-wlnjj69h_r1CZ1uI" />

        <activity
            android:name=".LayoutExample.Fram_layout"
            android:exported="false" />
        <activity
            android:name=".LayoutExample.Relative_Layout"
            android:exported="false" />
        <activity
            android:name=".NavigationGraph.Graph_Navigation"
            android:exported="false" /> <!-- <service -->
        <!-- android:name=".MyService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"></service> -->
        <activity
            android:name=".BroadCastReciver.Mobiledata_Wifi"
            android:exported="false" />
        <activity
            android:name=".BottomSheet.Bottom_Navigation_bar"
            android:exported="false" />
        <activity
            android:name=".ui.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Permission.Permission"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.Taskandroid.NoActionBar" />
        <activity
            android:name=".Animation.Animation"
            android:exported="false" />
        <activity
            android:name=".AlertDialog.Dialog"
            android:exported="false" />
        <activity
            android:name=".AlertDialog.Custom_Alert"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".AudioPlayer.AudioManager.Audio_Manager"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ViewerPage" -->
        <!-- android:exported="false"/> -->

        <activity
            android:name=".Camera.Camera"
            android:exported="false" />
        <activity
            android:name=".Camera.GalleryImage"
            android:exported="false" />
        <activity
            android:name=".GestureTouch.Gestures_Touch"
            android:exported="false" />
        <activity
            android:name=".LiveLocationKotlin.ViewCustomMarker"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".FacebookIntegration" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".AudioPlayer.MusicPlayer.MusicPlayer"
            android:exported="true" />
        <activity
            android:name=".AudioPlayer.ExoPlayer.ExoPlayerExample"
            android:exported="true" />
        <activity
            android:name=".AudioPlayer.VideoPlayer.VideoView"
            android:exported="true" />
        <activity
            android:name=".CustomSnackbar.SnackbarCustom"
            android:exported="true" />
        <activity
            android:name=".CheckBox.Checkbox"
            android:exported="true" />
        <activity
            android:name=".ComplexImageview.ComplexImageview"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".DatabaseSqlDemo" -->
        <!-- android:exported="true"/> -->
        <activity
            android:name=".FCM.PushNotification"
            android:exported="true" />
        <activity
            android:name=".InternalStorage.InternalStorage"
            android:exported="true" />
        <activity
            android:name=".RoomDB"
            android:exported="true" />
        <activity
            android:name=".DatePicker.Datepicker"
            android:exported="true" />
        <activity
            android:name=".TimePicker.TimePicker"
            android:exported="true" />
        <activity
            android:name=".RecyclerView.RecyclerView"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".ImageCrop" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".Shareprefrence.LoginScreen"
            android:exported="true" />
        <activity
            android:name=".Localization.Localisation_Strings"
            android:exported="true" />
        <activity
            android:name=".CustomProgressBar.ProgressBar"
            android:exported="true" />
        <activity
            android:name=".SlidingPanel.SlidingPanel"
            android:exported="true" />
        <activity
            android:name=".CustomNavigationDrawer.Custom_navigation_drawer"
            android:exported="true" />
        <activity
            android:name=".FirebaseStorage.StorageActivity"
            android:exported="true" />
        <activity
            android:name=".DataBase.SqlStorage.SqlStorage"
            android:exported="true" />
        <activity
            android:name=".JSONparser.JsonData"
            android:exported="true" />
        <activity
            android:name=".LiveLocationKotlin.LiveLocationKotlin"
            android:exported="true"
            android:label="LiveLocationKotlin" />
        <activity
            android:name=".Retrofit.DemoRetrofit"
            android:exported="true" />
        <activity
            android:name=".DemoMVVM.DemoMvvm"
            android:exported="true" />
        <activity
            android:name=".CarouselView.CarouselView"
            android:exported="true" />
        <activity
            android:name=".LoginApiCalling.LoginApiCalling"
            android:exported="true" />
        <activity
            android:name=".FirebaseDatabase.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".FirebaseAuthentication.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ImageUploadApi.ImageApi"
            android:exported="true" />

        <activity
            android:name=".Serialization.SerializationDemo"
            android:exported="true" />
        <activity
            android:name=".Dagger.DemoDagger2"
            android:exported="true" />
        <activity
            android:name=".Camera.RecordingVideo.Video"
            android:exported="true" />
        <activity
            android:name=".Camera.RecordingVideo.AndroidCameraApi"
            android:exported="true" />
        <activity
            android:name=".Service.Services"
            android:exported="true" />

        <activity
            android:name=".Service.ForegroundService"
            android:exported="true" />
        <activity
            android:name=".Intent.Implicit.ImplicitIntent"
            android:exported="true" />
        <activity
            android:name=".Intent.Explicite.SecondActivity"
            android:exported="true" />
        <activity
            android:name=".ListView.ListView"
            android:exported="true" />
        <activity
            android:name=".Permission.PhonePermission"
            android:exported="true" />
        <activity
            android:name=".Permission.ExternalStoragePermission"
            android:exported="true" />
        <activity
            android:name=".FirebaseAuthentication.GoogleAuthentication.SignInGoogleActivity"
            android:exported="true" />
        <activity
            android:name=".FirebaseAuthentication.GoogleAuthentication.NextActivity"
            android:exported="true" />
        <activity
            android:name=".FirebaseFireStore.SaveDataActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".CustomProgressBar.CircularProgressBar"
            android:exported="true"/>
        <activity
            android:name=".Dagger.DaggerDemo"
            android:exported="true" />

        <activity
            android:name=".GridView.GridViewDemo"
            android:exported="true" />

        <activity
            android:name=".TablayoutViewerPage.TabLayout"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera.CameraFlash"
            android:exported="true" />
        <activity
            android:name=".ImageCrop.ImageCrop"
            android:exported="true" />
        <activity
            android:name=".NavigationDrawer.ActivitySecond"
            android:exported="false" />
        <activity
            android:name=".CustomNotification.Custom_Notification"
            android:exported="false" />
        <activity
            android:name=".LayoutExample.Linear_Layout"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.taskandroid.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".FCM.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <service android:name=".Service.MyService" /> -->
        <service
            android:name=".Service.NewService"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>